.button 
{ 
-fx-text-fill :  #f0f0f0;
-fx-background-color : #404040;
}
.button:hover { 
-fx-background-color : #484848; 
}
.button:pressed { 
-fx-background-color : #505050; 
}
.menuPane{
-fx-background-color :  #303030;
}